<html>
	<head>
		<title>Stream testing</title>
		
		<!-- imports -->
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){

				var socket = io.connect();

				// the socket.io documentation recommends sending an explicit package upon connection
				socket.on('connect', function() {
					socket.emit('connect', {data: 'I\'m connected!'});
				});

				$('input.sync').on('input', function(event) {
					socket.emit('value changed', {who: $(this).attr('id'), data: $(this).val()});
					return false;
				});

			});
		</script>
	</head>
	<body>
		Blah
	</body>
</html>